@import "variables.scss";
@import "nullstyle.scss";

body {
    background-color: $bg-color;
    overflow-x: hidden;
}

h1 {
    @include text-size(600, 50px, 61px);
}

.container {
    max-width: 1275px;
    padding: 0 15px;
    width: 100%;
    margin: auto;
}

.d-flex {
    display: flex;
}

.justify-content {
    &-between {
        justify-content: space-between;
    }
    &-center {
        justify-content: center;
    }
    &-end {
        justify-content: end;
    }
}

.align-items {
    &-center {
        align-items: center;
    }
    &-end {
        align-items: end;
    }
}

.form-group {
    margin-bottom: 35px;
}

.reveal{
    position: relative;
    transform: translateY(120px);
    opacity: 0;
    transition: 1s opacity ease, 1s transform ease;

    &.active{
        transform: translateY(0);
        opacity: 1;
    }
}

.reveal-card{
    @extend .reveal;
}

.header {
    position: absolute;
    z-index: 9999;
    width: 100%;

    &-nav {
        &-menu {
            li {
                margin: 35px 17.5px;
            }
        }
    }

    &-phone {
        svg {
            margin-right: 17.5px;
        }
    }
}

.contact {
    &-area {
        #map {
            position: absolute;

            width: 100%;
            height: 550px;
        }
    }

    &-form {
        flex-direction: column;
        position: relative;
        top: 0;
        right: 0;

        width: 505px;
        padding: 50px 40px;

        background-color: $box-color;

        &-header {
            @include text-size(400, 25px, 30px);
            margin-bottom: 35px;
        }

        &-input {
            @extend .tpl-input;
            background-color: $box-color;
        }

        &-container {
            display: grid;
            grid-template-columns: 20% 70%;
            column-gap: 10%;
        }

        &-button{
            @extend .tpl-button;
            width: 100%;
            color: #000;
            background-color: #fff;
        }
    }
}


.footer {
    &-area {
        padding: 50px 0px;
    }

    &-container {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        grid-gap: 90px;
    }

    &-info{
        flex-direction: column;

        &-input {
            @extend .tpl-input;
            background-color: $bg-color;
        }
    }

    &-links {
        &-nav {
            &-menu {
                flex-direction: column;
                @include text-size(400, 16px, 19px);

                li {
                    margin-bottom: 20px;

                    &:last-child {
                        margin-bottom: 0px;
                    }
                }
            }
        }

        &-phone {
            margin-bottom: 25px;

            svg {
                margin-right: 17.5px;
            }

            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
}

