@import "variables.scss";
@import "nullstyle.scss";

body {
    background-color: $bg-color;
}

#header {
    position: absolute;
    width: 100%;
}

h1 {
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
}

.container {
    max-width: 1275px;
    padding: 0 15px;
    width: 100%;
    margin: auto;
}

.d-flex {
    display: flex;
}

.justify-content {
    &-between {
        justify-content: space-between;
    }
    &-center {
        justify-content: center;
    }
    &-end {
        justify-content: end;
    }
}

.align-items {
    &-center {
        align-items: center;
    }
    &-end {
        align-items: end;
    }
}

.nav {
    ul {
        li {
            margin: 35px 17.5px;
        }
    }
}

.phone {
    svg {
        margin-right: 17.5px;
    }
}

