$bg-color: #0E100E;
$text-color: #FFFFFF;
$hover-color: #069DC2;

.tpl-button {
    display: inline-block;
    width: 210px;
    border: 1px solid $text-color;
    padding: 16px 25px;
    font-weight: 600;

    &:hover {
        border: 1px solid  $hover-color;
    }
}

@mixin text-size($fweight, $fsize, $lheight) {
    font-weight: $fweight;
    font-size: $fsize;
    line-height: $lheight;
}
