$bg-color: #0E100E;
$text-color: #FFFFFF;
$hover-color: #069DC2;
$box-color: #151614;

.tpl-button {
    display: inline-block;
    width: 210px;
    border: 1px solid $text-color;
    padding: 16px 25px;
    font-weight: 600;

    transition: all 0.4s ease-out;

    &:hover {
        background-color: $hover-color;
        border: 1px solid  $hover-color;
        color: $text-color;
    }
}

.tpl-input {
    width: 100%;
    padding: 20px 10px 20px 0px;

    border-bottom: 1px solid #DFDFDF;

    &:focus+.line {
        width: 100%;
    }
}

.form-group .line {
    position: relative;
    bottom: 1px;
    width: 0;
    height: 1px;
    background-color: $hover-color;
    transition: all 0.4s ease-out;
}

@mixin text-size($fweight, $fsize, $lheight) {
    font-weight: $fweight;
    font-size: $fsize;
    line-height: $lheight;
}
