*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

a {
  text-decoration: none;
}

a:hover {
  color: #069DC2;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  background-color: #0E100E;
}

#header {
  position: absolute;
  width: 100%;
}

h1 {
  font-weight: 600;
  font-size: 50px;
  line-height: 61px;
}

.container {
  max-width: 1275px;
  padding: 0 15px;
  width: 100%;
  margin: auto;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.tpl-button,
.banner-buttons a {
  display: inline-block;
  width: 210px;
  border: 1px solid #FFFFFF;
  padding: 16px 25px;
  font-weight: 600;
}

.tpl-button:hover,
.banner-buttons a:hover {
  border: 1px solid #069DC2;
}

.nav ul li {
  margin: 35px 17.5px;
}

.phone svg {
  margin-right: 17.5px;
}

.banner-area {
  height: 100vh;
  width: 100%;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.banner-area img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: inherit;
}

.banner-text {
  position: absolute;
  flex-direction: column;
  width: 100%;
  top: 35%;
  text-align: center;
}

.banner-buttons a:first-child {
  margin-right: 30px;
}

.advantages-area {
  position: relative;
  justify-content: end;
  padding-top: 100px;
}

.advantages-area img {
  position: absolute;
  right: 650px;
  top: 100px;
  width: 1100px;
  height: 500px;
}

.advantages-text {
  width: 0%;
}

.advantages-text h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 40px;
}

.advantages-text-blocks {
  display: grid;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 20px;
  grid-template-columns: 300px 300px;
}

.advantages-text-block {
  height: 180px;
  padding: 20px;
  display: inline-grid;
  background-color: #151614;
}

.advantages-text-block-header span {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  margin-right: 10px;
  color: #069DC2;
}

.advantages-text-block-header h3 {
  font-weight: 600;
  font-size: 23px;
  line-height: 30px;
}

.advantages-text-block p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

