.tpl-button {
  display: inline-block;
  width: 210px;
  border: 1px solid #FFFFFF;
  padding: 16px 25px;
  font-weight: 600;
  transition: all 0.4s ease-out;
}

.tpl-button:hover {
  background-color: #069DC2;
  border: 1px solid #069DC2;
  color: #FFFFFF;
}

.tpl-input {
  width: 100%;
  padding: 20px 10px 20px 0px;
  border-bottom: 1px solid #DFDFDF;
}

.tpl-input:focus + .line {
  width: 100%;
}

.form-group .line {
  position: relative;
  bottom: 1px;
  width: 0;
  height: 1px;
  background-color: #069DC2;
  transition: all 0.4s ease-out;
}

.address-area {
  padding-top: 140px !important;
  flex-direction: column;
}

.address-header {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 70px;
}

.address-cards {
  width: 100%;
  position: relative;
}

.address-cards-svgs {
  width: 100%;
  position: absolute;
  top: 0;
}

.address-cards svg {
  margin: 0 auto;
  display: block;
}

.address-card {
  flex-direction: row;
  margin-bottom: 13px;
}

.address-card:nth-child(even) {
  justify-content: end;
}

.address-card-image {
  width: 190px;
  height: 145px;
  margin-right: 20px;
}

.address-card-svgs-rect {
  transition: 1s all ease;
}

.address-card-svgs-rect.active {
  fill: #069DC2;
  fill-opacity: 1;
}

.address-card-content {
  flex-direction: column;
}

.address-card-content-header {
  font-weight: 600;
  font-size: 40px;
  line-height: 30px;
  margin-bottom: 15px;
}

.address-card-content-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  color: #707070;
}

@media (max-width: 1200px) {
  :root {
    --swiper-navigation-sides-offset: 37%;
  }

  .address-cards-svgs {
    display: none;
  }

  .address-card {
    margin-bottom: 30px;
  }
}

